* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(131deg, rgba(255, 155, 203, 1) 21%, rgba(253, 214, 115, 1) 100%);
}

a {
    text-decoration: none;
    color: #111;
    font-size: .78rem;
}

a:hover {
    color: rgba(140, 202, 255, 1);
}

.container {
    font-family: sans-serif;
    background-color: #FFF;
    color: #111;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, .2);
    padding: 60px;
}

.footer__footer-header {
    display: flex;
    column-gap: 5rem;
}

.footer__footer-header-menu {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    max-width: 300px;
}

.footer__footer-header-menu > p:nth-of-type(1) {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 85%;
}

form input {
    margin-bottom: 1rem;
    padding: .2rem 0;
}

form input[type="email"] {
    padding-left: 1.5rem;
}

form .btn {
    padding: 1rem 3rem;
    background: linear-gradient(90deg, rgba(140, 202, 255, 1) 27%, rgba(102, 134, 254, 1) 100%);
    color: #fff;
    border: none;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, .2);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

i {
    position: absolute;
    left: 5px;
    background-image: linear-gradient(90deg, rgba(140, 202, 255, 1) 27%, rgba(102, 134, 254, 1) 100%);
}

.hr {
    height: 1px;
    width: 100%;
    margin: 3rem 0;
    background-color: lightgray;
}

.footer__footer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}