@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --white-400: #FCFBFC;
    --white-500: #FFFFFF;
    --blue-500: #232E4D;
    --blue-600: #9EB6F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white-400);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1,
p,
a,
label,
input {
    color: var(--blue-500);
}

.container {
    background-color: var(--white-500);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    padding: 1rem;
}

.fp-account-sign-up-prompt {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
}

.fp-account-sign-up-prompt p {
    margin-right: .25rem;
}

.fp-account-sign-up-prompt a {
    text-decoration: none;
    color: var(--blue-600);
}

.fp-account-sign-up-prompt p,
.fp-account-sign-up-prompt a {
    opacity: .7;
}

.fp-enter-email-advice {
    text-align: center;
    margin: 5rem 0 2.5rem;
}

.fp-enter-email-advice h1 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.fp-enter-email-advice p {
    opacity: .7;
    font-size: .8rem;
    max-width: 60%;
    margin: 0 auto;
}

.fp-enter-email-input {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

.fp-enter-email-input label {
    font-weight: 700;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.fp-enter-email-input input {
    padding: .6rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    font-weight: 700;
}

.fp-enter-email-input input::placeholder {
    color: var(--blue-500);
    opacity: .8;
}

.fp-enter-email-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0 5rem;
    font-size: .8rem;
}

.fp-enter-email-links a:nth-of-type(2) {
    padding: .75rem 8.7rem;
    max-width: 66%;
    margin: 0 auto 1.5rem;
    background-color: var(--blue-500);
    color: var(--white-500);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    text-decoration: none;
}